<%= form_with(model: message,html:{onsubmit:"$.ajax({url:this.action,type:this.method,data:$(this).serialize(),success:function(data){console.log(data);}});return false;"}) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sent_by, style: "display: block" %>
    <%= form.text_field :sent_by %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>

  </div>
    <%= form.hidden_field :user_id %>
    <%= form.hidden_field :room_id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
