<div id="myid1"><%=message.id%></div>
<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sent_by, style: "display: block" %>
    <%= form.text_field :sent_by %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>

  </div>
  <div>
    <%= form.label :height, style: "display: block" %>
    <%= form.number_field :height,step:"0.01" %>

  </div>
  <div>
    <%= form.label :width, style: "display: block" %>
    <%= form.number_field :width,step:"0.01"%>

  </div>
  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>

  </div>
  <div class="mytextsandpics">
  <div class="mytexts">

    <%=form.fields_for :texts do |f|%>
    <table>
        <tr class="tabletext">
          <td></td>
          <td>text #<%=f.index + 1%></td>
      </tr>
        <tr class="tabletext">
          <td>content</td>
          <td><%=f.text_field :content,onkeyup:"text_#{f.object.id}.innerHTML=this.value;"%></td>
        <%=f.hidden_field :x, id: "message_texts_attributes_#{f.object.id}_x"%>
        <%=f.hidden_field :y, id: "message_texts_attributes_#{f.object.id}_y"%>
      </tr>
        <tr class="tabletext">
          <td>font size</td>
          <td><%=f.number_field :size,onkeyup:"text_#{f.object.id}.style.fontSize=this.value+'px';"%></td>

      </tr>
        <tr class="tabletext">
          <td>font color</td>
          <td><%=f.color_field :color,onchange:"text_#{f.object.id}.style.color=this.value;",onkeyup:"text_#{f.object.id}.style.color=this.value;"%></td>

      </tr>
        <tr class="tabletext">
          <td>font weight</td>
          <td><%=f.number_field :weight,onkeyup:"text_#{f.object.id}.style.fontWeight=this.value;"%></td>

      </tr>
        <tr class="tabletext">
          <td>couleur fond</td>
          <td><%=f.color_field :fond,onchange:"text_#{f.object.id}.style.backgroundColor=this.value;",onkeyup:"text_#{f.object.id}.style.backgroundColor=this.value;"%></td>

      </tr>
        <tr class="tabletext">
          <td>fond transparent</td>
          <td> 
              <%= f.label :transparent %><br />
              <%= f.label :transparent, "Oui", value: "true"  %>
              <%= f.radio_button :transparent, true,onchange:"this.checked ? (text_#{f.object.id}.style.backgroundColor='transparent') : (text_#{f.object.id}.style.backgroundColor=message_texts_attributes_#{f.index}_fond.value);" %>
              <%= f.label :transparent, "Non", value: "false" %>
              <%= f.radio_button :transparent, false,onchange:"message_texts_attributes_#{f.index}_transparent_true.checked === '1' ? (text_#{f.object.id}.style.backgroundColor='transparent') : (text_#{f.object.id}.style.backgroundColor=message_texts_attributes_#{f.index}_fond.value);" %>
            </td>

      </tr>
    </table>
    <%end%>

  </div>
  <div class="mypics">

    <%=form.fields_for :pics do |f|%>
    <table>
        <tr class="tabletext">
          <td></td>
          <td>pic #<%=f.index + 1%></td>
      </tr>
        <tr class="tabletext">
          <td>content</td>
          <td><%=f.text_field :x%>
      </tr>
        <tr class="tabletext">
          <td>font size</td>
          <td><%=f.text_field :y%>

      </tr>
        <tr class="tabletext">
          <td>content</td>
          <td><%=f.text_field :width%>
      </tr>
        <tr class="tabletext">
          <td>font size</td>
          <td><%=f.text_field :height%>

      </tr>
    </table>
    <%end%>

  </div>
  </div>
  <%=render message%>
<script>
  function editmypicwidth(){
mypic.style.width=String(this.value)+'px';
    }
  function editmypicheight(){
mypic.style.height=String(this.value)+'px';
    }
</script>
    <%= form.hidden_field :user_id %>
    <%= form.hidden_field :room_id %>
    <%= form.hidden_field :bodyx %>
    <%= form.hidden_field :bodyy%>

  <div>
    <%= form.submit %>
  </div>
<% end %>
