<div class="<%= dom_id message %>">
<style>
.move<%=message.id%> {
        <%if params[:controller] == "messages" && params[:action] != "edit"%>
          display:none;
        <%end%>
                       height: 10px;
                                              width: 10px;
                                                                             position: absolute;
                                                                                                            top: 100%;
                                                                                                                                           left: 100%;
                                                                                                                                                                                                  background: green;
                                                                                                                                                                                                                                                               }
      .speaker,.mytext, .mybody<%=message.id%> {
        background:white;
        position:absolute;
      }
      <%if !["css","edit"].include?(params[:action])%>
      <%message.texts.each do |pic|%>

        <%if pic.textanimations.length > 0 %>
        .mytextanimation<%=pic.id%> {
          animation-duration: <%=pic.duration || 3%>s;
          animation-delay: <%=pic.delay || 0%>s;
          animation-name: textanimation<%=pic.id%>;
        }
      @keyframes textanimation<%=pic.id%> {
        <%pic.textanimations.each do |x|%>
          <%=x.percent%>% {
            transform: translateX(<%=x.translatex.to_i%>px) translateY(<%=x.translatey.to_i%>px) rotate(<%=x.rotate%>deg);
            color: <%=x.color||"#ffffff"%>;
                      }
        <%end%>
      }
        <%end%>

      <%end%>
      <%message.pics.each do |pic|%>

        <%if pic.picanimations.length > 0%>
        .mypicanimation<%=pic.id%> {
          animation-duration: <%=pic.duration || 3%>s;
          animation-delay: <%=pic.delay || 0%>s;
          animation-name: picanimation<%=pic.id%>;
        }
      @keyframes picanimation<%=pic.id%> {
        <%pic.picanimations.each do |x|%>
          <%=x.percent%>% {
            transform: translateX(<%=x.translatex.to_i%>px) translateY(<%=x.translatey.to_i%>px) rotate(<%=x.rotate%>deg);
            color: <%=x.color||"#ffffff"%>;
                      }
        <%end%>
      }
        <%end%>

      <%end%>
      <%end%>
                                                                                                                                                                                                                                                           .mypic<%=message.id%>{

                                                                                                                                                                                                                                                               border:1px solid black;
                                                                                                                                                                                                                                                                 position:relative;
                                                                                                                                                                                                                                                                   width:<%=message.width%>px;
                                                                                                                                                                                                                                                                     height:<%=message.height%>px;
                                                                                                                                                                                                                                                                       }
                                                                                                                                                                                                                                                                   .mybody<%=message.id%> {
                                                                                                                                                                                                                                                                       position:absolute;
                                                                                                                                                                                                                                                                        left:<%=message.bodyx%>px;
                                                                                                                                                                                                                                                                          top:<%=message.bodyy%>px;
                                                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                                                      </style>

                                                                                                                                                                                                                                                                     <div class="mypic<%=message.id%>" >
    <span class="speaker"><%=message.sent_by%> (<%=message.user.email%>)</span>
    <% message.pics.each do |text|%>
      <img data-myx="<%=text.x%>" data-myy="<%=text.y%>" class="mypic mypicanimation<%=text.id%> <%= dom_id text %>" style="z-index:<%=text.zindex || 99%>;position:absolute;top:<%=text.y%>px;left:<%=text.x%>px;width:<%=text.width%>px;height:<%=text.height%>px;background-color:<%=text.transparent ? "transparent" : text.fond%>;" src="<%= attachments[text.filename].url%>"/>

    <%end%>
    <% message.texts.each do |text|%>
      <div  data-myx="<%=text.x%>" data-myy="<%=text.y%>"  class="mytext mytextanimation<%=text.id%> <%=dom_id text%>" style="z-index:<%=text.zindex || 99%>;font-weight:<%=text.weight%>;color:<%=text.color%>;font-size:<%=text.size%>px;position:absolute;top:<%=text.y%>px;left:<%=text.x%>px;background-color:<%=text.transparent ? "transparent" : text.fond%>;" >
              <%= text.content %>

        </div>
    <%end%>
                                                                                                                                                                                                                                                                          <div class="move<%=message.id%>">

                                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                                    <div class="mybody<%=message.id%>">
                                                                                                                                                                                                                                                                                         <%=message.body%>
                                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                                          <img  class="cettepic<%=message.id%>" src="<%=message.image ? attachments[message.image].url : (attachments["mypic.png"].url)%>" width="<%=message.width ? message.width+"px" : "100%" %>" height="<%= message.height ? message.height+"px" : "100%" %>" isMap />
                                                                                                                                                                                                                                                                                            </div>

                                                                                                                                      <a href="/messages/<%=message.id%>/edit">editer</a>
                                                                                                                                      <a href="/messages/<%=message.id%>">voir</a>
</div>
