<h1>Editing message</h1>
<%=form_with do |ff|%>
                                                                                                                                                                                                                                                                                                                                                     <table>
     <tr>
       <td>
           <%= ff.label :percent, style: "display: block" %>
                   <%= ff.range_field :percent,list:"values" %>


                               <datalist id="values">
                                                       <option class="mytextorpic" value="0" label="début"></option>
                                                                                     <option class="mytextorpic" value="25" label="vers le début"></option>
                                                                                                                           <option class="mytextorpic" value="50" label="milieu"></option>
                                                                                                                                                                         <option class="mytextorpic" value="75" label="vers la fin"></option>
                                                                                                                                                                                                                               <option class="mytextorpic" value="100" label="fin"></option>
                                                                                                                                                                                                                                                                                         </datalist>

                                                                                                                                                                                                                                                                                                                                                     </td>
       <td>
           <%= ff.label :rotate, style: "display: block" %>
                   <%= ff.range_field :rotate,list:"rotatevalues",value:0,min:-365,max:365 %>


                               <datalist id="rotatevalues">
                                                       <option class="mytextorpic" value="-365" label="rotate <-"></option>
                                                                                     <option class="mytextorpic" value="0" label="don't rotate"></option>
                                                                                     <option class="mytextorpic" value="365" label="rotate ->"></option>
                                                                                                                                                                                                                                                                                         </datalist>

                                                                                                                                                                                                                                                                                                                                                     </td>
                                                                                                                                                                                                                                                                                                                                                     </tr>
                                                                                                                                                                                                                                                                                                                                                     </table>

                                                                                                                                                                                                                                                                                                                                                   <%end%>

<%= render "formcss", message: @message %>

<br>

<div>
  <%= link_to "Show this message", @message %> |
  <%= link_to "Back to messages", messages_path %>
</div>
