<p style="color: green"><%= notice %></p>

<%= render @message %>
  <div data-chat-room="<%=@message.room.name%>">
          </div>
<button id="myBtnpic">Ajouter un texte</button>

<!-- The Modal -->
<div id="myModalpic" class="modalpic">

      <!-- Modal content -->
            <div class="modal-contentpic">
                          <span class="closepic">&times;</span>
                                      <div><%= render "pics/form",pic: @pic %></div>
                                                        </div>

</div>
<button id="myBtn">Ajouter un texte</button>

<!-- The Modal -->
<div id="myModal" class="modal">

      <!-- Modal content -->
            <div class="modal-content">
                          <span class="close">&times;</span>
                                      <div><%= render "texts/form",text: @text %></div>
                                                        </div>

</div>
<div>
  <%= link_to "Edit this message", edit_message_path(@message) %> |
  <%= link_to "Back to messages", messages_path %>

  <%= button_to "Destroy this message", @message, method: :delete %>
</div>
