<div id="<%= dom_id pic %>">
  <p>
    <strong>Filename:</strong>
    <%= pic.filename %>
  </p>

  <p>
    <strong>X:</strong>
    <%= pic.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= pic.y %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= pic.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pic.height %>
  </p>

</div>
