<div id="<%= dom_id textanimation %>">
  <p>
    <strong>Pic:</strong>
    <%= textanimation.pic_id %>
  </p>

  <p>
    <strong>Percent:</strong>
    <%= textanimation.percent %>
  </p>

  <p>
    <strong>Translatex:</strong>
    <%= textanimation.translatex %>
  </p>

  <p>
    <strong>Translatey:</strong>
    <%= textanimation.translatey %>
  </p>

  <p>
    <strong>Rotate:</strong>
    <%= textanimation.rotate %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= textanimation.color %>
  </p>

</div>
