<p style="color: green"><%= notice %></p>

<%= render @textanimation %>

<div>
  <%= link_to "Edit this textanimation", edit_textanimation_path(@textanimation) %> |
  <%= link_to "Back to textanimations", textanimations_path %>

  <%= button_to "Destroy this textanimation", @textanimation, method: :delete %>
</div>
