<div id="<%= dom_id picanimation %>">
  <p>
    <strong>Pic:</strong>
    <%= picanimation.pic_id %>
  </p>

  <p>
    <strong>Percent:</strong>
    <%= picanimation.percent %>
  </p>

  <p>
    <strong>Translatex:</strong>
    <%= picanimation.translatex %>
  </p>

  <p>
    <strong>Translatey:</strong>
    <%= picanimation.translatey %>
  </p>

  <p>
    <strong>Rotate:</strong>
    <%= picanimation.rotate %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= picanimation.color %>
  </p>

</div>
