<!DOCTYPE html>
<html>
  <head>
    <title>Carte de voeux Html</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%=action_cable_meta_tag%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%=link_to "bienvenue","/"%>
    <%=link_to "sign in","/users/sign_in"%>
    <%=link_to "sign up","/users/sign_up"%>
    <%if user_signed_in?%>
      <%=button_to "sign out", destroy_user_session_path , method: :delete%>
    <%end%>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

  </body>
</html>
